env_variables:
  LINE_NOTIFY_CLIENT_ID: xxx
  LINE_NOTIFY_CLIENT_SECRET: xxx
  LINE_NOTIFY_REDIRECT_URI: https://carprobe.iseteki.net/oauth/line-notify/callback
  LOCAPOS_API_KEY: xxx
  LOCAPOS_REDIRECT_URI: https://carprobe.iseteki.net/oauth/locapos/callback
  SESSION_SECRET_KEY: xxx