env_variables:
  PROJECT_ID: iseteki-locationprobe
  IOT_TOPIC: projects/iseteki-locationprobe/locations/asia-east1/registries/probes
  LINE_NOTIFY_CLIENT_ID: xxx
  LINE_NOTIFY_CLIENT_SECRET: xxx
  LINE_NOTIFY_REDIRECT_URI: https://api.locationprobe.iseteki.net/oauth/line-notify/callback
  LOCAPOS_API_KEY: xxx
  LOCAPOS_REDIRECT_URI: https://api.locationprobe.iseteki.net/oauth/locapos/callback
  SESSION_SECRET_KEY: xxx